@use 'utils/forwards' as *;
@use 'mixins/media';
@use 'mixins/txt';

.content {
	border: rem(4) solid $accent;
	margin-bottom: rem(25);
	padding: rem(25);
	border-radius: rem(12);
	background-color: #fff;

	&__inner {
	  display: grid;
	  grid-gap: rem(30);
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr;
	  margin-bottom: rem(30);
	  @include media.max(lg) {
		grid-gap: rem(20);
	  }
	  @include media.max(md) {
		display: flex;
		flex-direction: column;
	  }
	}

	&__item {
	  position: relative;
	  display: flex;
	  flex-direction: column;
	  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
	  padding: rem(12);
	  border-radius: rem(6);
	  max-width: rem(289);
	  background-image: $bg;
	  transition: transform 0.4s, box-shadow 0.4s;
	  @include media.max(md) {
		min-width: 100%;
	  }

	  &:first-child {
		grid-column: 1/3;
		grid-row: 1/3;
		padding: rem(20);
		max-width: 100%;
		max-height: 100%;
		@include media.max(lg) {
		  grid-column: 1/4;
		}
	  }

	  &:first-child .content__img-container {
		margin-bottom: rem(22);
		@include media.max(lg) {
		  margin-bottom: rem(2);
		}
	  }

	  &:first-child .content__title {
		margin-bottom: rem(15);
		font-size: rem(24);
		text-align: center;
		@include media.max(lg) {
		  text-align: left;
		  margin-bottom: rem(2);
		  font-size: rem(18);
		}
	  }

	  &:first-child .content__img {
		width: 100%;
		max-height: rem(480);
		@include media.max(lg) {
		  height: 100%;
		}
		@include media.max(md) {
		  max-height: rem(240);
		}
		@include media.max(sm) {
		  max-height: rem(200);
		}
	  }

	  &:first-child .content__text {
		margin-bottom: rem(26);
		font-size: rem(16);
		@include txt.row($lc: 3);
	  }

	  &:hover {
		box-shadow: 0 5px rem(20) 5px rgba(0, 0, 0, 0.4);
		// transform: scale(1.01);
		transform: translateY(rem(-4));
	  }
	}

	&__link {
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	  z-index: 2;
	  cursor: pointer;
	}

	&__img {
	  width: rem(278);
	  min-height: rem(170);
	  max-height: rem(170);
	  margin-bottom: rem(12);
	  object-fit: cover;
	  @include media.max(lg) {
		width: 100vw;
		height: 100%;
	  }
	  @include media.max(md) {
		max-height: rem(240);
	  }
	  @include media.max(sm) {
		max-height: rem(200);
	  }
	}

	&__title {
	  // flex-grow: 1;
	  font-size: rem(18);
	  margin-top: rem(10);
	  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.8);
	  @include txt.row($lc: 2);
	  @include media.max(lg) {
		font-size: rem(18);
	  }
	}

	&__text {
	  flex-grow: 1;
	  margin-bottom: rem(10);
	  // max-height: 100px;
	  font-size: rem(12);
	  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.8);
	  overflow: hidden;
	  @include txt.row($lc: 3);

	  @include media.max(md) {
		margin-bottom: rem(26);
		font-size: rem(16);
	  }
	}

	&__info {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  min-width: 100%;
	}

	&__author {
	  position: relative;
	  padding-left: rem(18);
	  font-size: rem(14);

	  &::before {
		content: "";
		position: absolute;
		display: block;
		left: rem(4);
		bottom: rem(6);
		border-radius: 50%;
		width: rem(8);
		height: rem(8);
		background-color: $accent;
	  }
	}

	&__date {
	  position: relative;
	  display: block;
	  max-width: rem(200);
	  margin-left: auto;
	  padding-left: rem(18);
	  font-size: rem(14);

	  &::before {
		content: "";
		position: absolute;
		display: block;
		left: rem(4);
		bottom: rem(6);
		border-radius: 50%;
		width: rem(8);
		height: rem(8);
		background-color: #009688;
	  }
	}
  }
