.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
node_modules/
npm-debug.*
*.fig
*.psd
# dist/
# package.json
# gulpfile.js
# .jshintrc
# .eslintrc.json
# .stylelintrc
package-lock.json
yarn.lock
desktop.ini

