.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
  height: 60px;
  @include mq("480") {
    justify-content: unset;
  }
}

.social {
  &__list {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    width: 32px;
    height: 32px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__icon {
    max-width: 32px;
    max-height: 32px;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.search {
  margin: 0!important;
  padding: 0;
  margin-left: auto;
  margin-right: 26px;

  &__title {
    @include mq("768") {
      font-size: 24px;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    max-width: 250px;
    border-bottom: 2px solid black;
  }

  &__input {
    margin-right: 15px;
    min-width: 80%;
    height: 24px;
    font-style: 14px;
    padding: 2px;
    @include mq("480") {
      min-width: none;
      max-width: 62px;
    }

    &:focus {
      background: transparent;
    }

    @extend %pt-400i;
  }

  &__btn {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon {
    max-width: 22px;
    max-height: 22px;
    transition: transform 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
