.content {
  border: 4px solid $accent;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 12px;
  background-color: #fff;

  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 30px;
    @include mq("1024") {
      grid-gap: 20px;
    }
    @include mq("768") {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    padding: 12px;
    border-radius: 6px;
    max-width: 289px;
    background-image: $bg;
    transition: transform 0.4s, box-shadow 0.4s;
    @include mq("768") {
      min-width: 100%;
    }

    &:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
      padding: 20px;
      max-width: 100%;
      max-height: 100%;
      @include mq("1024") {
        grid-column: 1/5;
      }
    }

    &:first-child .content__img-container {
      margin-bottom: 22px;
      @include mq("1024") {
        margin-bottom: 2px;
      }
    }

    &:first-child .content__title {
      margin-bottom: 15px;
      font-size: 24px;
      text-align: center;
      @include mq("1024") {
        text-align: left;
        margin-bottom: 2px;
        font-size: 18px;
      }
    }

    &:first-child .content__img {
      width: 100%;
      max-height: 480px;
      @include mq("1024") {
        height: 100%;
      }
      @include mq("768") {
        max-height: 240px;
      }
      @include mq("480") {
        max-height: 200px;
      }
    }

    &:first-child .content__text {
      margin-bottom: 26px;
      font-size: 16px;
      @include txt($lc: 3);
    }

    &:hover {
      box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.4);
      // transform: scale(1.01);
      transform: translateY(-4px);
    }
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
  }

  &__img {
    width: 278px;
    min-height: 170px;
    max-height: 170px;
    margin-bottom: 12px;
    object-fit: cover;
    @include mq("1024") {
      width: 100vw;
      height: 100%;
    }
    @include mq("768") {
      max-height: 240px;
    }
    @include mq("480") {
      max-height: 200px;
    }
  }

  &__title {
    // flex-grow: 1;
    font-size: 18px;
    margin-top: 10px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.8);
    @include txt($lc: 2);
    @include mq("1024") {
      font-size: 16px;
    }
  }

  &__text {
    flex-grow: 1;
    margin-bottom: 10px;
    // max-height: 100px;
    font-size: 12px;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0.8);
    overflow: hidden;
    @include txt($lc: 3);

    @include mq("768") {
      margin-bottom: 26px;
      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
  }

  &__author {
    position: relative;
    padding-left: 18px;
    font-size: 14px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 4px;
      bottom: 6px;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: $accent;
    }
  }

  &__date {
    position: relative;
    display: block;
    max-width: 200px;
    margin-left: auto;
    padding-left: 18px;
    font-size: 14px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 4px;
      bottom: 6px;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: #009688;
    }
  }
}
