.header {
  z-index: 3;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: transform 0.3s linear;

  &.hide {
    transform: translateY(-160px);
  }

  &.color {
    .header__body {
      box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.4);
      border-top: 0px;
    }
  }

  &-top {
    display: flex;
    align-items: center;
    min-height: 60px;
    background-color: $accent;
    @include mq("768") {
      margin-left: -10px;
      padding-right: 24px;
    }
  }

  &-top__inner {
    display: flex;
    align-items: center;
  }

  &-top__content {
    padding: 15px;
    max-height: 60px;
    min-width: 96%;
    text-align: center;
    color: #ececec;
    @include mq("1024") {
      @include txt(5);
    }
    @include mq("768") {
      font-size: 12px;
      padding: 0;
      // display:contents;
    }
    @include mq("480") {
      max-height: 90px;
    }
  }

  &__body {
    border: 4px solid $accent;
    border-radius: 0 0 12px 12px;
    padding: 20px 10px;
    background-color: #fff;
    background-image: url("../images/plane.png");
    background-position: 132px -56px;
    background-repeat: no-repeat;
    background-size: 210px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 20px;
  }

  &__link {
    color: $title;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: $accent;
    }
  }

  &__subtitle {
    max-width: 220px;
    margin-left: 20px;
    font-size: 14px;
    color: $title;
  }
}

.menu {
  margin-top: 50px;

  &__list {
    display: flex;
    transition: transform 0.3s;
    @include mq("1024") {
      position: absolute;
      // left: 0;
      right: 0;
      top: 84px;
      flex-direction: column;
      border-radius: 10px;
      min-width: 240px;
      // min-height: 110vh;
      padding: 10px 10px 10px 26px;
      transform: translateX(200%);
      background-color: $accent;

      &.menu__list--active {
        transform: translateX(0%);
      }
    }
  }

  &__item {
    @include mq("1024") {
      border-radius: 4px;
      padding: 4px;
      background-color: #fff;
    }
  }

  &__item:first-child {
    @include mq("1024") {
      margin-top: 50px;
    }
  }

  &__item:last-child {
    @include mq("1024") {
      margin-bottom: 40px;
      margin-right: 18px;
    }
  }

  &__item:not(:last-child) {
    position: relative;
    margin-right: 18px;
    color: $txtg;
    @include mq("1024") {
      margin-bottom: 10px;
    }
    &::after {
      @include pseudo($content: "/");
      top: 0;
      right: -12px;
      font-size: 15px;
      @include mq("1024") {
        content: "";
      }
    }
  }

  &__link {
    display: block;
    font-size: 14px;
    color: $title;
    transition: color 0.4s, transform 0.4s;
    @include mq("1024") {
      color: #000;
    }

    &:hover {
      transform: translateY(-2px);
      color: $accent;
    }
    @extend %pt-700i;
  }

  &__btn {
    position: absolute;
    right: 30px;
    top: 100px;
    z-index: 3;
    display: none;
    border: 3px solid $accent;
    border-radius: 6px;
    max-height: 30px;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover{
      transform: scale(0.98);
    }

    & span {
      font-size: 14px;
      margin-right: 2px;
      @extend %pt-700;
    }
    @include mq("1024") {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    width: 28px;
    height: 28px;
  }
}
