.slider {
  &__container {
    max-height: 320px;
  }

  &__list {
    min-height: 300px;
    margin-bottom: 20px;
    @include mq("768") {
      min-height: 120px;
      max-height: 140px;
    }
  }

  &__item {
    display: flex;
    padding-left: 14px;
  }

  &__link {
    &:not(last-child) {
      margin-right: 20px;

      @include mq("480") {
        margin-right: 4px;
      }
    }

    img {
      width: 310px;
      height: 200px;
      object-fit: cover;

      @include mq("768") {
        width: 160px;
        height: 120px;
      }
    }
  }
}
