body {
  &.dark-mode {
    color: #fff;
    background-image: $bg2-dark;

    .wrapper {
      background-image: url(../images/stars.png);
      background-size: 100%;
    }

    .header-top {
      @extend %bg3-dark;
    }

    .header {
      &__inner {
        background-color: #132238;
        background-image: url("../images/plane2.png");
        background-position: 155px -8px;
      }

      &__title {
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
      }

      &__link {
        color: $accent;

        &:hover {
          color: #fff;
        }
      }

      &__subtitle {
        color: #cfd3ce;
      }
    }

    .search {
      &__form {
        border-radius: 8px;
        border-color: $accent;
        padding: 2px;
        background-color: #000;
      }

      &__icon {
        fill: $accent;
      }
    }

    .social__item {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #000;
    }

    .social__icon {
      fill: $accent;
    }

    .title {
      color: $accent;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);

      &:hover {
        color: #cfd3ce;
      }

      &:before {
        border-bottom: 2px solid $accent;
      }

      &:after {
        border-bottom: 2px solid $accent;
      }
    }

    .dropdown-menu li a {
      @include mq("768") {
        color: #cfd3ce;
      }
    }

    .has-text-align-center {
      color: #cfd3ce;
    }

    .wp-block-media-text__content {
      & p {
        color: #cfd3ce;
      }

      & p strong {
        color: #cfd3ce;
      }
    }

    .wpd-thread-info  {
      color: #fff;
    }

    .wpdtc {
      color: $accent;
    }

    .wpd-login {
      color: #fff;
    }

    .menu {
      &__list {
        @include mq("768") {
          background-color: #132238;
        }
      }

      &__item {
        @include mq("768") {
          background-color: #333;
        }
      }

      &__link {
        color: #cfd3ce;

        & span {
          color: #cfd3ce;
        }
      }

      &__pic {
        background-color: #fff;
        border-radius: 50%;
        // use {
        //   fill: #fff;
        // }
      }
    }

    .content {
      &__item {
        background-image: $bg-dark;
        box-shadow: rgba(18, 93, 152, 0.9) 0 2px 4px, rgba(18, 93, 152, 0.9) 0 7px 13px -3px, rgba(18, 93, 152, 0.9) 0 -3px 0 inset;

        &:hover {
          box-shadow: 0 5px 20px 5px rgba(255, 255, 255, 0.4);
        }
      }

      &__title {
        color: $accent;
        text-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
      }

      &__text p {
        color: #cfd3ce;
      }
    }

    .news {
      &__item {
        box-shadow: rgba(18, 93, 152, 0.9) 0 2px 4px, rgba(18, 93, 152, 0.9) 0 7px 13px -3px, rgba(18, 93, 152, 0.9) 0 -3px 0 inset;
      }

      &__item--second {
        box-shadow: rgba(18, 93, 152, 0.9) 0 2px 4px, rgba(18, 93, 152, 0.9) 0 7px 13px -3px, rgba(18, 93, 152, 0.9) 0 -3px 0 inset;
      }

      &__element {
        background-image: $bg4-dark;

        &:hover {
          box-shadow: 0 5px 20px 5px rgba(255, 255, 255, 0.4);
        }
      }

      &__title {
        color: $accent;
        text-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
      }

      &__title--second {
        color: $accent;
        text-shadow: 1px 0 0 rgba(255, 255, 255, 0.25);
      }

      &__text {
        color: #cfd3ce;
      }
    }

    .product {
      &__title {
        color: $accent;
      }

      &__text {
        background-color: #132238;

        & p {
          color: #cfd3ce;

          & strong {
            color: #cfd3ce;
          }
        }
      }

      &__text table tbody tr:nth-child(even) {
        background: #000;
        border-bottom: 1px solid #fff;
      }
    }

    .gallery {
      &__item {
        background-color: #222;
      }
    }

    .author {
      &__name,
      &__title {
        color: $accent;
      }

      &__item {
        border-color: $accent;
      }

      &__year,
      &__block p,
      &__social-link span,
      &__link {
        color: #cfd3ce;
      }
    }

    .comments {
      background-color: #132238;
    }

    #wpdcom .wpd-comment .wpd-comment-right {
      border-radius: 8px;
      padding: 10px;
      background-color: #fff;
    }

    #wpdcom.wpd-layout-2 .wpd-comment.wpd-reply .wpd-comment-wrap.wpd-blog-post_author {
      border-left: 6px solid #00b38f;
      border-radius: 8px;
      margin-top: 14px;
      padding: 10px;
      background-color: #fff;
    }

    .footer {
      @extend %bg3-dark;
    }

    .content,
    .news,
    .product__wrapper,
    .author__container,
    .gallery,
    .product__content {
      // @extend %bg-dark;
      background-color: #132238;
    }

    .up {
      &__txt {
        color: $accent;
      }
    }

    .modal {
      &__content {
        background-color: #132238;
      }

      &__close {
        color: #fff;
      }

      &__title {
        color: #cfd3ce;
      }

      &__subtitle {
        color: #cfd3ce;
      }

      &__text {
        p {
          color: #cfd3ce;
        }
      }

      address {
        span,
        a {
          color: #cfd3ce;
        }
      }
    }

    .created {
      &__icon {
        fill: none;
      }
    }
  }
}
