<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Юрий Федоров</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="ХВВАУЛ,Харьковское ВВАУЛ,Харьковское высшее военное авиационное училище лётчиков,выпускники 1974 года,выпуск 1974 года, лучший сайт авиации" />
    <meta name="description" content="Сайт выпускников ХВВАУЛ 1974 года выпуска, ХВВАУЛ-74, Взлёт.ру, v3let.ru, лучший сайт авиации" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico" />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <div class="wrapper">
      @@loop('templates/components/_header.html',[{ "title":"header title" }])
      <main class="main">
        <section class="author">
          <div class="container author__container">
            <div class="author__top" data-aos="slide-up" data-aos-duration="1000">
              <img src="images/author.jpg" alt="Федоров Юрий Игоревич" class="author__img" />

              <div class="author__body">
                <h2 class="author__name">Федоров Юрий Игоревич</h2>
                <span class="author__year">(1953 года рождения)</span>

                <blockquote class="author__block" cite="http://developer.mozilla.org">
                  <p>Ну и что ты понял? Двоечник...Ну и что ты понял? Двоечник...Ну и что ты понял? Двоечник...</p>
                </blockquote>
              </div>
            </div>

            <ol class="author__content" reversed data-aos="fade-up" data-aos-duration="1200">
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
              <li class="author__item">
                <a href="#" class="author__link"> Лётное сладострастие </a>
              </li>
            </ol>
          </div>
        </section>

        <button class="up">
          <svg class="up__icon">
            <use xlink:href="images/sprite.svg#up"></use>
          </svg>
        </button>
      </main>
      @@include('templates/components/_modal.html')
      @@include('templates/components/_footer.html')
    </div>
    <script src="js/product.min.js"></script>
  </body>
</html>
