<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>История</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="ХВВАУЛ,Харьковское ВВАУЛ,Харьковское высшее военное авиационное училище лётчиков,выпускники 1974 года,выпуск 1974 года, лучший сайт авиации" />
    <meta name="description" content="Сайт выпускников ХВВАУЛ 1974 года выпуска, ХВВАУЛ-74, Взлёт.ру, v3let.ru, лучший сайт авиации" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico" />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>
  <body>
    <div class="wrapper">
      @@loop('templates/components/_header.html',[{ "title":"header title" }])
      <main class="main">
        <!-- Поиск и ссылки для связи. -->
        <div class="container">@@include('templates/components/_bar.html')</div>

        <button class="up">
          <svg class="up__icon">
            <use xlink:href="images/sprite.svg#up"></use>
          </svg>
        </button>
        @@include('templates/components/_modal.html')
        @@include('templates/components/_up.html')
      </main>
      @@include('templates/components/_footer.html')
    </div>
    <script src="js/product.min.js"></script>
  </body>
</html>
