<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="ХВВАУЛ,Харьковское ВВАУЛ,Харьковское высшее военное авиационное училище лётчиков,выпускники 1974 года,выпуск 1974 года, лучший сайт авиации" />
    <meta name="description" content="Сайт выпускников ХВВАУЛ 1974 года выпуска, ХВВАУЛ-74, Взлёт.ру, v3let.ru, лучший сайт авиации" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="image/x-icon" rel="shortcut icon" href="images/favicon.ico" />

    <link rel="stylesheet" href="css/style.min.css" />
  </head>

  <body>
    <div class="wrapper">
      @@loop('templates/components/_header.html',[{ "title":"header title" }])
      <main class="main" data-aos="slide-up">
        <div class="container">
          <!-- Поиск и ссылки для связи. -->
          @@include('templates/components/_bar.html')

          <!-- Истории. -->
          <section class="content">
            <h2 class="title">Самое важное</h2>

            <div class="content__inner">
              <article class="content__item">
                <a href="./product.html" target="_blank" class="content__link"></a>

                <div class="content__img-container">
                  <img data-src="images/content/1.jpg" src="images/1x1.png" alt="Изображение статьи" class="content__img lazy" />
                </div>

                <h3 class="content__title">ЛЕЙТЕНАНТСКИЕ ГОДЫ</h3>

                <p class="content__text">
                  Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
                  класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
                  командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
                </p>

                <time class="content__date">11.04.2022</time>
              </article>

              <article class="content__item">
                <a href="./product.html" target="_blank" class="content__link"></a>

                <div class="content__img-container">
                  <img data-src="images/content/2.jpg" src="images/1x1.png" alt="Изображение статьи" class="content__img lazy" />
                </div>

                <h3 class="content__title">«НЕПОДСУДЕН-4»</h3>

                <p class="content__text">
                  Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
                  класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
                  командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
                </p>

                <time class="content__date">11.04.2022</time>
              </article>

              <article class="content__item">
                <a href="./product.html" target="_blank" class="content__link"></a>

                <div class="content__img-container">
                  <img data-src="images/content/3.jpg" src="images/1x1.png" alt="Изображение статьи" class="content__img lazy" />
                </div>

                <h3 class="content__title">СЛУЖЕБНОЕ ПРЕСТУПЛЕНИЕ</h3>

                <p class="content__text">
                  Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
                  класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
                  командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
                </p>

                <div class="content__info">
                  <div class="content__author">
                    author
                  </div>
                  <time class="content__date">11.04.2022</time>

                </div>
              </article>

              <article class="content__item">
                <a href="./product.html" target="_blank" class="content__link"></a>

                <div class="content__img-container">
                  <img data-src="images/content/4.jpg" src="images/1x1.png" alt="Изображение статьи" class="content__img lazy" />
                </div>

                <h3 class="content__title">ЛЕЙТЕНАНТСКИЕ ГОДЫ</h3>

                <p class="content__text">
                  Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
                  класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
                  командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
                </p>

                <time class="content__date">11.04.2022</time>
              </article>

              <article class="content__item">
                <a href="./product.html" target="_blank" class="content__link"></a>

                <div class="content__img-container">
                  <img data-src="images/content/5.jpg" src="images/1x1.png" alt="Изображение статьи" class="content__img lazy" />
                </div>

                <h3 class="content__title">ЗАКОНОМЕРНЫЙ ИТОГ</h3>

                <p class="content__text">
                  Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
                  класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
                  командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
                </p>

                <time class="content__date" id="slide">11.04.2022</time>
              </article>
            </div>

            <button class="news__btn btn">
              <span>Показать все новости</span>
            </button>
          </section>

          <!-- Слайдер. -->
          <section class="slider" data-aos="fade-up">
            <div class="contaner">
              <h2 class="title">Наши выпускники</h2>
            </div>



<div class="embla">
      <div class="embla__viewport slider__container">
        <div class="embla__container slider__list">
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide slider__item">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
          <div class="embla__slide">
            <div class="embla__slide__inner">
              <img class="embla__slide__img" src="https://picsum.photos/300/200?grayscale" />
            </div>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <button class="embla__button embla__button--prev" type="button">
        <svg
          class="embla__button__svg"
          viewBox="137.718 -1.001 366.563 643.999"
        >
          <path
            d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
          ></path>
        </svg>
      </button>
      <button class="embla__button embla__button--next" type="button">
        <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
          <path
            d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
          ></path>
        </svg>
      </button>
    </div>
                  <div class="embla__progress">
                <div class="embla__progress__bar"></div>
              </div>
          </section>

          <!-- Новостные каточки -->
          <section class="news" data-aos="fade-up">
            <div class="container">
              <h2 class="title" data-aos="fade-up">Свежие статьи</h2>

              <ul class="news__list">
                <li class="news__item">
                  <article class="news__element" data-aos="slide-up">
                    <a href="./product.html" target="_blank" class="news__link"></a>
                    <img data-src="images/news/1.jpg" alt="Новостная карточка" class="news__image lazy" />

                    <div class="news__info">
                      <h3 class="news__title">БУДУЩЕЕ – ЗАВТРА</h3>
                      <p class="news__text">
                        «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
                        и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
                        находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
                        поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
                        взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
                        предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
                        потерял контроль над машиной»
                      </p>


                                      <div class="content__info">
                  <div class="content__author">
                    author
                  </div>
                  <time class="content__date">11.04.2022</time>

                </div
                    </div>
                  </article>
                </li>

                <li class="news__item">
                  <article class="news__element" data-aos="slide-up">
                    <a href="./product.html" target="_blank" class="news__link"></a>
                    <img data-src="images/news/2.jpg" alt="Новостная карточка" class="news__image lazy" />

                    <div class="news__info">
                      <h3 class="news__title">ЭТО НУЖНО НЕ МЁРТВЫМ, ЭТО НУЖНО ЖИВЫМ!</h3>
                      <p class="news__text">
                        «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
                        и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
                        находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
                        поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
                        взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
                        предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
                        потерял контроль над машиной»
                      </p>
                      <time class="news__date">12.04.2022</time>
                    </div>
                  </article>
                </li>

                <li class="news__item">
                  <article class="news__element" data-aos="slide-up">
                    <a href="./product.html" target="_blank" class="news__link"></a>
                    <img data-src="images/news/3.jpg" alt="Новостная карточка" class="news__image lazy" />

                    <div class="news__info">
                      <h3 class="news__title">НЕПЛАНОВАЯ ПОСАДКА</h3>
                      <p class="news__text">
                        «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
                        и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
                        находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
                        поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
                        взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
                        предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
                        потерял контроль над машиной»
                      </p>
                      <time class="news__date">12.04.2022</time>
                    </div>
                  </article>
                </li>

                <li class="news__item">
                  <article class="news__element" data-aos="slide-up">
                    <a href="./product.html" target="_blank" class="news__link"></a>
                    <img data-src="images/news/4.jpg" alt="Новостная карточка" class="news__image lazy" />

                    <div class="news__info">
                      <h3 class="news__title">НЛО ПРИЛЕТАЕТ ПО ЧЕТВЕРГАМ</h3>
                      <p class="news__text">
                        «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
                        и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
                        находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
                        поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
                        взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
                        предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
                        потерял контроль над машиной»
                      </p>
                      <time class="news__date">12.04.2022</time>
                    </div>
                  </article>
                </li>

                <li class="news__item">
                  <article class="news__element">
                    <a href="./product.html" target="_blank" class="news__link"></a>
                    <img data-src="images/news/5.jpg" alt="Новостная карточка" class="news__image lazy" />

                    <div class="news__info">
                      <h3 class="news__title">ВО ЧТО ВЕРИТ РП</h3>
                      <p class="news__text">
                        «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
                        и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
                        находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
                        поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
                        взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
                        предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
                        потерял контроль над машиной»
                      </p>
                      <time class="news__date">12.04.2022</time>
                    </div>
                  </article>
                </li>
              </ul>

              <button class="news__btn btn">
                <span>Показать все новости</span>
              </button>
            </div>
          </section>

          @@include('templates/components/_up.html')
        </div>
        @@include('templates/components/_modal.html')
      </main>

      @@include('templates/components/_footer.html')
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
