.gallery {
  border: 4px solid $accent;
  border-bottom: 0px;
  padding: 30px;
  border-radius: 12px 12px 0 0;
  min-height: 100vh;
  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-right: auto;
    min-width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 0 0 50px;
    @include mq("768") {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @include mq("480") {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }

  &__item {
    display: block;
    border-radius: 6px;
    margin-bottom: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;

    & > img {
      margin-bottom: 10px;
      object-fit: contain !important;
      width: 414px;
      max-height: 280px;
      min-height: 100%;
      transition: all 0.4s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(1.02);
      }
    }
  }

  &__image-full {
    margin: 0 auto;
  }

  &__text {
    padding: 10px;
    text-align: center;
  }
}

#modalWindow{
  display:none;
  color:white;
  position:fixed;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:rgba(0,0,0,.75);
}
#modalWindow #modalClose{
  font-size: 40px;
  line-height:36px;
  width:40px;
  height:40px;
  border-radius:50%;
  text-align:center;
  background:black;
  position: absolute;
  top:20%;
  right:16px;
  cursor:pointer;
}
#modalPic{
  max-width:100%;
  margin-top: 10%;
  padding:20px;
  text-align: center;
}
