@use 'utils/forwards' as *;
@use 'mixins/media';
@use 'mixins/txt';

.gallery {
  border: rem(4) solid $accent;
  border-bottom: 0px;
  padding: rem(30);
  border-radius: rem(12) rem(12) 0 0;
  min-height: 100vh;
  background-color: #fff;
  @include media.max(sm){
	padding: rem(20) rem(5);
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    margin-right: auto;
    min-width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: rem(30);
    padding: 0 0 rem(50);
    @include media.max(md) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
    @include media.max(sm) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }
  }

  &__item {
    display: block;
    border-radius: rem(6);
    margin-bottom: rem(16);
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;

    & > img {
      margin-bottom: rem(10);
      object-fit: contain !important;
      width: rem(414);
      max-height: rem(280);
      min-height: 100%;
      transition: all 0.4s ease;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transform: scale(1.02);
      }
    }
  }

  &__image-full {
    margin: 0 auto;
    max-width: 90vw;
    max-height: 80vh;
  }

  &__text {
    padding: rem(10);
    text-align: center;
  }
}

#modalWindow{
  display:none;
  color:white;
  position:fixed;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 3;
  background:rgba(0,0,0,.75);
}
#modalWindow #modalClose{
  font-size: rem(40);
  line-height:rem(36);
  width:rem(40);
  height:rem(40);
  border-radius:50%;
  text-align:center;
  background:black;
  position: absolute;
  top:20%;
  right:rem(16);
  cursor:pointer;
}
#modalPic{
  max-width:100%;
//   margin-top: 10%;
  padding:rem(20);
  text-align: center;
}
