<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <span class="footer__copy">©Все права защищены 2022г.</span>

      <dvi class="social">
        <!-- <span class="social_text">Свяжитесь со мной:</span> -->
        <ul class="social__list">
          <li class="social__item">
            <a href="#" class="social__link">
              <svg class="social__icon">
                <use xlink:href="images/sprite.svg#odnok"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg class="social__icon">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <svg class="social__icon">
                <use xlink:href="images/sprite.svg#email"></use>
              </svg>
            </a>
          </li>
        </ul>
      </dvi>
    </div>
  </div>
</footer>
