<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__inner">
        <img src="images/star.png" alt="Орден" class="star" style="width: 50px; height: 50px;" />

        <p class="header-top__content">
          [ХВВАУЛ-74] Харьковское Высшее Военное Авиационное ордена Красной Звезды Училище Лётчиков ВВС им. дважды Героя Советского Союза С.И. Грицевца
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header__body">
      <div class="header__inner">
        <div class="header__about" data-aos="fade-left" data-aos-duration="1000">
          <h1 class="header__title">
            <a href="/" class="header__link">Взлёт</a>
          </h1>

          <span class="header__subtitle"> Сайт выпускников 1974 года </span>
        </div>

        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="index.html#slide" class="menu__link">Наш курс</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Исторические хроники</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Творчество</a>
            </li>
            <li class="menu__item">
              <a href="./author.html" class="menu__link">Юрий Фёдоров</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Помощь</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- <h1>@@title</h1> -->
</header>
