<div class="modal hide">
  <div class="modal__dialog">
    <div class="modal__content">
      <span class="modal__title">Контактная информация!</span>

      <div class="modal__body">
        <span class="modal__subtitle">Для связи:</span>

        <ul class="social__list">
          <li class="social__item">
            <a href="https://ok.ru/profile/529378520930" target="_blank" class="social__link">
              <svg class="social__icon">
                <use xlink:href="images/sprite.svg#odnok"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="https://telegram.me/v3letRu" target="_blank" class="social__link">
              <svg class="social__icon">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a href="mailto:admin@v3let.ru" class="social__link">
              <svg class="social__icon">
                <use xlink:href="images/sprite.svg#email"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="modal__text">
        <p>
          Если что-то не получилось открыть, если у Вас есть хороший материал или интересные фото для публикации, информация для наших читателей, если появились вопросы, пишите
          нам на адресса электроной почты, указаные ниже. Здесь Вы получите ответ на Ваши вопросы и будет рассмотрена Ваша
          информация!
        </p>
        <br />
      </div>

      <address modal__address>
        <span>Связь с администрацией:</span>
        <a href="mailto:v3letz@gmail.com" class="modal__mail">v3letz@gmail.com</a>
        <a href="mailto:v3let@mail.ru" class="modal__mail">v3let@mail.ru</a>
        <a href="mailto:admin@v3let.ru" class="modal__mail">admin@v3let.ru</a>
      </address>

      <div class="modal__inner">
        <div class="modal__person">
          <div class="modal__close" data-close="">&times;</div>
        </div>
      </div>
    </div>
  </div>
</div>
