.bar
  dvi.social
    ul.social__list
      li.social__item
        a.social__link(href='https://ok.ru/profile/529378520930' target='_blank')
          svg.social__icon
            use(xlink:href='assets/sprites/icons.svg#odnok')
      li.social__item
        a.social__link(href='https://telegram.me/v3letRu' target='_blank')
          svg.social__icon
            use(xlink:href='assets/sprites/icons.svg#telegram')
      li.social__item
        a.social__link(href='mailto:admin@v3let.ru')
          svg.social__icon
            use(xlink:href='assets/sprites/icons.svg#email')
  .search
    form.search__form(action='#')
      input.search__input(type='text' placeholder='Поиск')
      button.search__btn
        svg.search__icon
          use(xlink:href='assets/sprites/icons.svg#search')
