html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  user-select: none;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-image: $bg2;
  @extend %pt-400;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  background-image: url("../images/cloud1.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 200%;
}

.main {
  flex-grow: 1;
  margin-top: 140px;
  background-image: url("../images/cloud.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 300%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
}

img {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.loading {
  position: relative;
  top: 0;
  left: 0;
  background: url("../images/loading2.gif") center no-repeat;
}

.title {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  color: $title;
  transition: color 0.3s;
  cursor: pointer;
  @include txt($lc: 2);

  &:hover {
    color: $accent;
  }

  &:before {
    content: "";
    position: absolute;
    border-bottom: 2px solid $title;
    bottom: 0.25rem;
    left: 0;
    width: 70%;
    transform: translateX(-50%);
  }

  &:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid $title;
    bottom: 0;
    left: 0;
    width: 35%;
    transform: translateX(-50%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 1.38rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: $title;
  @extend %pt-700;
}

h1 {
  margin-bottom: 0;
  font-size: 3.052rem;
  line-height: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  @include mq("768") {
    font-size: 2.441rem;
  }
}

h2 {
  font-size: 2.441rem;
  font-style: italic;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.8);
  @include mq("768") {
    font-size: 1.953rem;
  }
}

h3 {
  font-size: 1.953rem;
  @include mq("768") {
    font-size: 1.563rem;
  }
}

h4 {
  font-size: 1.563rem;
  @include mq("768") {
    font-size: 1.25rem;
  }
}

h5 {
  font-size: 1.25rem;
}

p,
span {
  color: #111111;
}

// кноака наверх
.up-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1300px;
}

.up {
  // position: absolute;
  // right: 40px;
  // bottom: 40px;
  // z-index: 9;
  // width: 32px;
  // height: 32px;
  // cursor: pointer;
  position: fixed;
  bottom: 130px;
  right: 40px;
  z-index: 9;
  display: none;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;

  &__txt {
    position: absolute;
    top: 36px;
    font-size: 12px;
    // transform: rotate(90deg);
    @extend %pt-700;
  }

  &__icon {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    fill: #000;
    background-color: #e5f4f3;
  }

  &--animated {
    display: block;
    animation-name: "up";
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.menu-item {
  position: relative;

  &:hover {
    .dropdown-menu {
      display: block;
      height: auto;
    }
  }
}
.dropdown-menu {
  position: absolute;
  display: none;
  top: 3px;
  border: 2px solid #ececec;
  border-radius: 4px;
  margin-top: 15px;
  width: 200px;
  background-color: #fff;
  height: 0;

  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: height 0.25s ease;
  cursor: pointer;
  transition: height ease 0.4s;
  @include mq("768") {
    position: unset;
    display: block;
    height: auto;
    box-shadow: unset;
    border: unset;
  }

  &:hover {
    cursor: pointer;
    height: auto;
  }

  & li {
    margin: 6px;
    padding-left: 4px;
    border-left: 2px solid $accent;
    @include mq("768") {
      text-align: center;
      margin: 10px 0;
      border: unset;
    }

    &:first-child {
      @include mq("768") {
        margin-top: 0;
      }
    }

    &:last-child {
      @include mq("768") {
        margin-bottom: 0;
      }
    }

    & a {
      color: #243f4d;
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      font-style: italic;
      transition: color 0.4s, transform 0.4s;

      &:hover {
        transform: scale(0.95);
        color: $accent;
      }
    }
  }
}

.comments {
  padding: 25px 0;
  border: 4px solid $accent;
  border-bottom: 0px;
  border-radius: 12px 12px 0 0;
  background-color: #fff;
}

.created {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  @include mq("480") {
    font-size: 10px;
  }

  &__icon {
    width: 28px;
    height: 28px;
    @include mq("480") {
      width: 24px;
      height: 24px;
    }
  }

  &__link {
    margin-left: 6px;
    color: #fff;
  }
}
