html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-image: $bg2;
  @extend %pt-400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  margin-top: 150px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
}

.title {
  position: relative;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  text-align: center;
  @include txt($lc: 2);
}

h1 {
  font-size: 36px;
  margin-bottom: -10px;
  @include mq("1024") {
    font-size: 32px;
  }
  @include mq("768") {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  line-height: 29px;
  @include mq("768") {
    font-size: 22px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title;
  @extend %pt-700;
}

p,
span {
  color: #111111;
}

// кноака наверх
.up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &--animated {
    animation-name: "up";
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.up__icon {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
  fill: #000;
  background-color: #e5f4f3;
}
