// Variables
$accent: #00AA00;
$title: #243f4d;
$txtg: #afafaf;
$bg: #f1f3f5;

%pt-400 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

%pt-400i {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

%pt-700 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

%pt-700i {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
