// Variables
$accent: #125d98;
$title: #243f4d;
$txtg: #afafaf;
$bg: linear-gradient(to top, #f3f9fb, #eaf6fb, #e2f3fb, #daf0fc, #d2edfd, #d1edfe, #d1ecfe, #d0ecff, #d5eeff, #dbf0ff, #e0f2ff, #e5f4ff);
$bg2: radial-gradient(circle, #f3f9fb, #fcfcff, #f7faff, #f1f8ff, #eaf7ff, #dcf3ff, #cdeefe, #bdeafd, #a3e0fd, #87d7fd, #69ccfe, #42c2ff);

// $bg-dark: linear-gradient(to top, #1f3658, #203654, #223651, #23354d, #253549, #233346, #213042, #1f2e3f, #19293c, #122538, #0b2035, #041c32);
$bg-dark: linear-gradient(to bottom, #294772, #2b466d, #2c4669, #2e4564, #30445f, #2d415b, #2b3e57, #283b53, #20354e, #182f4a, #102a45, #052441);
$bg4-dark: linear-gradient(to right, #294772, #2b466d, #2c4669, #2e4564, #30445f, #2d415b, #2b3e57, #283b53, #20354e, #182f4a, #102a45, #052441);
$bg2-dark: radial-gradient(circle, #1f3658, #203654, #223651, #23354d, #253549, #233346, #213042, #1f2e3f, #19293c, #122538, #0b2035, #041c32);

%bg3-dark {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

%pt-400 {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

%pt-400i {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

%pt-700 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

%pt-700i {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
}
