section.albums
  .container
    .albums__wrapper
      h2.title.albums__title Фотогалерея
      ul.albums__list
        li.albums__item
          .embla.albums__slides
            .embla__viewport.albums__viewport
              .albums__img-container.embla__container
                .albums__slide.embla__slide
                  .albums__slide-inner.embla__slide__inner
                    img.albums__img--nth.embla__slide__img(src='./assets/images/gallery/hist.jpg' alt='image')
                .albums__slide.embla__slide
                  .albums__slide-inner.embla__slide__inner
                    img.albums__img.albums__img--nth.embla__slide__img(src='./assets/images/gallery/hist.jpg' alt='image')
                .albums__slide.embla__slide
                  .albums__slide-inner.embla__slide__inner
                    img.albums__img.albums__img--nth.embla__slide__img(src='./assets/images/gallery/hist.jpg' alt='image')
                .albums__slide.embla__slide
                  .albums__slide-inner.embla__slide__inner
                    img.albums__img.albums__img--nth.embla__slide__img(src='./assets/images/gallery/hist.jpg' alt='image')
          h3.albums__name Наш выпуск
          a.albums__link(href='')
        li.albums__item
          // <div class="albums__img-container">
          img.albums__img(src='https://picsum.photos/400/300?grayscale' alt='image')
          // </div>
          h3.albums__name Наш выпуск
          a.albums__link(href='')
        li.albums__item
          // <div class="albums__img-container">
          img.albums__img(src='https://picsum.photos/400/300?grayscale' alt='image')
          // </div>
          h3.albums__name Наш выпуск
          a.albums__link(href='')
        li.albums__item
          // <div class="albums__img-container">
          img.albums__img(src='https://picsum.photos/400/300?grayscale' alt='image')
          // </div>
          h3.albums__name Наш выпуск
          a.albums__link(href='')
        li.albums__item
          // <div class="albums__img-container">
          img.albums__img(src='https://picsum.photos/400/300?grayscale' alt='image')
          // </div>
          h3.albums__name Наш выпуск
          a.albums__link(href='')
        li.albums__item
          img.albums__img.albums__img--nth.embla__slide__img(src='./assets/images/gallery/hist.jpg' alt='image')
          h3.albums__name--overflow Наш выпуск
          a.albums__link(href='')
