section.author
	.container.author__container
		h2.author__title.title Об авторе
		.author__top
			img.author__img(src='assets/images/author.jpg' alt='Федоров Юрий Игоревич')
			.author__body
				h2.author__name Федоров Юрий Игоревич
				span.author__year (1953 года рождения)
				blockquote.author__block(cite='http://developer.mozilla.org')
					p
						| Лётчики – это люди, которые всю свою жизнь потом не могут отвыкнуть от своей молодости.
					cite Из записных книжек курсанта
				.author__social
					a.author__social-link(href='https://ok.ru/profile/529378520930' target='_blank')
						svg.social__icon
							use(xlink:href='assets/images/sprite.svg#odnok')
						span Профиль в Оноклассниках
				.author__social
					a.author__social-link(href='https://proza.ru/avtor/v3let' target='_blank')
						.social__icon.social__icon--second
							| П
						span Профиль на Проза.ру
		h2.author__title.title Произведения
		ol.author__content
			h3.author__title Книги
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.
			li.author__item
				a.author__link(href='#') Зарницы памяти. Записки курсанта лётного училища.