section.gallery
	.container
		.gallery__container
			h2.title.gallery__title Наш выпуск
			ul.gallery__list
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img.gallery__image(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
				li.gallery__item
					img(src='https://picsum.photos/1200/900?grayscale' alt='')
					.gallery__text
						| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Необходимыми, заголовок заглавных! Рукописи дороге которой текстами они
						| щеке жаренные!
			#modalWindow
				#modalClose ×
				#modalPic
