section.content
	h2.title Самое важное
	.content__inner
		article.content__item
			a.content__link(href='./product.html' target='_blank')
			.content__img-container
				img.content__img.lazy(data-src='assets/images/content/1.webp' src='assets/images/1x1.webp' alt='Изображение статьи')
			h3.content__title ЛЕЙТЕНАНТСКИЕ ГОДЫ
			p.content__text
				| Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
				| класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
				| командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
			time.content__date 11.04.2022
		article.content__item
			a.content__link(href='./product.html' target='_blank')
			.content__img-container
				img.content__img.lazy(data-src='assets/images/content/2.webp' src='assets/images/1x1.webp' alt='Изображение статьи')
			h3.content__title ЗАКОНОМЕРНЫЙ ИТОГ
			p.content__text
				| Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
				| класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
				| командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
			time.content__date 11.04.2022
		article.content__item
			a.content__link(href='./product.html' target='_blank')
			.content__img-container
				img.content__img.lazy(data-src='assets/images/content/3.webp' src='assets/images/1x1.webp' alt='Изображение статьи')
			h3.content__title «НЕПОДСУДЕН-4»
			p.content__text
				| Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
				| класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
				| командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
			.content__info
				.content__author
					| author
				time.content__date 11.04.2022
		article.content__item
			a.content__link(href='./product.html' target='_blank')
			.content__img-container
				img.content__img.lazy(data-src='assets/images/content/4.webp' src='assets/images/1x1.webp' alt='Изображение статьи')
			h3.content__title СЛУЖЕБНОЕ ПРЕСТУПЛЕНИЕ
			p.content__text
				| Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
				| класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
				| командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
			time.content__date 11.04.2022
		article.content__item
			a.content__link(href='./product.html' target='_blank')
			.content__img-container
				img.content__img.lazy(data-src='assets/images/content/5.webp' src='assets/images/1x1.webp' alt='Изображение статьи')
			h3.content__title ЗАКОНОМЕРНЫЙ ИТОГ
			p.content__text
				| Зима 1975 года. Я – лейтенант только-только после училища начинаю осваивать науку побеждать в воздухе. Меня усиленно готовят на квалификацию «Военный лётчик 3го
				| класса». А поскольку в Монголии местность в основном безориентирная, то мы летали с пистолетами в кармане. И попробуй только на предполётных указаниях по команде
				| командира не поднять руку со снаряжёнными обоймами, могли запросто отстранить от полётов. После лётной смены оружие и патроны сдавали дежурному по полку.
			time#slide.content__date 11.04.2022
	button.news__btn.btn
		span Показать все статьи
// Слайдер.
section.slider(data-aos='fade-up')
	.contaner
		h2.title Наш выпуск
	.embla
		.embla__viewport.slider__container
			.embla__container.slider__list
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide.slider__item
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
				.embla__slide
					.embla__slide__inner
						img.embla__slide__img(src='https://picsum.photos/300/200?grayscale')
		// Buttons
		button.embla__button.embla__button--prev(type='button')
			svg.embla__button__svg(viewbox='137.718 -1.001 366.563 643.999')
				path(d='M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z')
		button.embla__button.embla__button--next(type='button')
			svg.embla__button__svg(viewbox='0 0 238.003 238.003')
				path(d='M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z')
	.embla__progress
		.embla__progress__bar
// Новостные каточки
section.news(data-aos='fade-up')
	.container
		h2.title(data-aos='fade-up') Свежие статьи
		ul.news__list
			li.news__item
				article.news__element(data-aos='slide-up')
					a.news__link(href='./product.html' target='_blank')
					img.news__image.lazy(data-src='assets/images/news/1.webp' alt='Новостная карточка')
					.news__info
						h3.news__title БУДУЩЕЕ – ЗАВТРА
						p.news__text
							| «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
							| и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
							| находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
							| поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
							| взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
							| предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
							| потерял контроль над машиной»
						.content__info
							.content__author
								| author
							time.content__date 11.04.2022
			li.news__item
				article.news__element(data-aos='slide-up')
					a.news__link(href='./product.html' target='_blank')
					img.news__image.lazy(data-src='assets/images/news/2.webp' alt='Новостная карточка')
					.news__info
						h3.news__title ЭТО НУЖНО НЕ МЁРТВЫМ, ЭТО НУЖНО ЖИВЫМ!
						p.news__text
							| «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
							| и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
							| находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
							| поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
							| взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
							| предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
							| потерял контроль над машиной»
						time.news__date 12.04.2022
			li.news__item
				article.news__element(data-aos='slide-up')
					a.news__link(href='./product.html' target='_blank')
					img.news__image.lazy(data-src='assets/images/news/3.webp' alt='Новостная карточка')
					.news__info
						h3.news__title НЕПЛАНОВАЯ ПОСАДКА
						p.news__text
							| «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
							| и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
							| находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
							| поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
							| взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
							| предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
							| потерял контроль над машиной»
						time.news__date 12.04.2022
			li.news__item
				article.news__element(data-aos='slide-up')
					a.news__link(href='./product.html' target='_blank')
					img.news__image.lazy(data-src='assets/images/news/4.webp' alt='Новостная карточка')
					.news__info
						h3.news__title НЛО ПРИЛЕТАЕТ ПО ЧЕТВЕРГАМ
						p.news__text
							| «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
							| и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
							| находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
							| поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
							| взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
							| предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
							| потерял контроль над машиной»
						time.news__date 12.04.2022
			li.news__item
				article.news__element
					a.news__link(href='./product.html' target='_blank')
					img.news__image.lazy(data-src='assets/images/news/5.webp' alt='Новостная карточка')
					.news__info
						h3.news__title ВО ЧТО ВЕРИТ РП
						p.news__text
							| «Погиб на 48-м году жизни 17 июля 2001 г. во время показательных выступлений на празднике в честь 85-летия военно-морской авиации в Центре боевой подготовки
							| и переучивания лётного состава авиации ВМФ под Псковом. Апакидзе, выполнив все фигуры высшего пилотажа, заходил на посадку, когда его самолёт Су-33,
							| находившийся в нескольких километрах от взлётно-посадочной полосы, «повёл себя неустойчиво». После доклада об этом на пункт управления полётами, лётчику
							| поступила команда катапультироваться. Однако, Апакидзе решил не катапультироваться и оставался в пилотской кабине до момента удара самолёта о землю и его
							| взрыва, стремясь сохранить самолёт. Однако, по мнению госкомиссии, Апакидзе погиб «вследствие психофизической перегрузки». Пилот отключил ограничители
							| предельных углов атаки и перегрузки, чтобы выполнить сложные фигуры пилотажа. В результате во время одного из манёвров он испытал восьмикратную перегрузку и
							| потерял контроль над машиной»
						time.news__date 12.04.2022
		button.news__btn.btn
			span Показать все статьи
