section.product
	article.product__wrapper(data-aos='slide-up' data-aos-duration='1000')
		.product__content
			h2.product__title Добро пожаловать на сайт "Взлет.ру"!
			p.product__text(data-aos='fade-in' data-aos-duration='1000')
				img.product__img(src='/assets/images/content/2.webp' alt='Изображение' data-aos='fade-in' data-aos-duration='1000')
				|                     Дорогие друзья! Теперь и у нашего выпуска Харьковского ВВАУЛ 1974 года есть свой сайт. Заходите,
				|                     регистрируйтесь, смотрите материалы, присылайте свои мысли,
				|                     воспоминания, стихи, рассказы, пожелания, замечания , восхищения и, конечно же, фотографии – то есть
				|                     всё то, чем вы хотите поделиться со своими однокашниками.
				|                     Именно это сделает наш сайт красивым и, возможно, посещаемым другими пользователями. Цель сайта:
				|                     собрать как можно больше информации о всех выпускниках ХВВАУЛ,
				|                     сделать информацию полезной и интересной. Дорогие друзья! Теперь и у нашего выпуска Харьковского
				|                     ВВАУЛ 1974 года есть свой сайт. Заходите, регистрируйтесь,
				|                     смотрите материалы, присылайте свои мысли, воспоминания, стихи, рассказы, пожелания, замечания ,
				|                     восхищения и, конечно же, фотографии – то есть всё то, чем вы
				|                     хотите поделиться со своими однокашниками. Именно это сделает наш сайт красивым и, возможно,
				|                     посещаемым другими пользователями. Цель сайта: собрать как можно
				|                     больше информации о всех выпускниках ХВВАУЛ, сделать информацию полезной и интересной. Дорогие
				|                     друзья! Теперь и у нашего выпуска Харьковского ВВАУЛ 1974 года есть
				|                     свой сайт. Заходите, регистрируйтесь, смотрите материалы, присылайте свои мысли, воспоминания,
				|                     стихи, рассказы, пожелания, замечания , восхищения и, конечно же,
				|                     фотографии – то есть всё то, чем вы хотите поделиться со своими однокашниками. Именно это сделает
				|                     наш сайт красивым и, возможно, посещаемым другими
				|                     пользователями. Цель сайта: собрать как можно больше информации о всех выпускниках ХВВАУЛ, сделать
				|                     информацию полезной и интересной. Дорогие друзья! Теперь и у
				|                     нашего выпуска Харьковского ВВАУЛ 1974 года есть свой сайт. Заходите, регистрируйтесь, смотрите
				|                     материалы, присылайте свои мысли, воспоминания, стихи, рассказы,
				|                     пожелания, замечания , восхищения и, конечно же, фотографии – то есть всё то, чем вы хотите
				|                     поделиться со своими однокашниками. Именно это сделает наш сайт
				|                     красивым и, возможно, посещаемым другими пользователями. Цель сайта: собрать как можно больше
				|                     информации о всех выпускниках ХВВАУЛ, сделать информацию полезной и
				|                     интересной. Дорогие друзья! Теперь и у нашего выпуска Харьковского ВВАУЛ 1974 года есть свой сайт.
				|                     Заходите, регистрируйтесь, смотрите материалы, присылайте свои
				|                     мысли, воспоминания, стихи, рассказы, пожелания, замечания , восхищения и, конечно же, фотографии –
				|                     то есть всё то, чем вы хотите поделиться со своими
				|                     однокашниками. Именно это сделает наш сайт красивым и, возможно, посещаемым другими пользователями.
				|                     Цель сайта: собрать как можно больше информации о всех
				|                     выпускниках ХВВАУЛ, сделать информацию полезной и интересной. Дорогие друзья! Теперь и у нашего
				|                     выпуска Харьковского ВВАУЛ 1974 года есть свой сайт. Заходите,
				|                     регистрируйтесь, смотрите материалы, присылайте свои мысли, воспоминания, стихи, рассказы,
				|                     пожелания, замечания , восхищения и, конечно же, фотографии – то есть
				|                     всё то, чем вы хотите поделиться со своими однокашниками. Именно это сделает наш сайт красивым и,
				|                     возможно, посещаемым другими пользователями. Цель сайта: собрать
				|                     как можно больше информации о всех выпускниках ХВВАУЛ, сделать информацию полезной и интересной.
				|                     Дорогие друзья! Теперь и у нашего выпуска Харьковского ВВАУЛ 1974
				|                     года есть свой сайт. Заходите, регистрируйтесь, смотрите материалы, присылайте свои мысли,
				|                     воспоминания, стихи, рассказы, пожелания, замечания , восхищения и,
				|                     конечно же, фотографии – то есть всё то, чем вы хотите поделиться со своими однокашниками. Именно
				|                     это сделает наш сайт красивым и, возможно, посещаемым другими
				|                     пользователями. Цель сайта: собрать как можно больше информации о всех выпускниках ХВВАУЛ, сделать
				|                     информацию полезной и интересной. Дорогие друзья! Теперь и у
				|                     нашего выпуска Харьковского ВВАУЛ 1974 года есть свой сайт. Заходите, регистрируйтесь, смотрите
				|                     материалы, присылайте свои мысли, воспоминания, стихи, рассказы,
				|                     пожелания, замечания , восхищения и, конечно же, фотографии – то есть всё то, чем вы хотите
				|                     поделиться со своими однокашниками. Именно это сделает наш сайт
				|                     красивым и, возможно, посещаемым другими пользователями. Цель сайта: собрать как можно больше
				|                     информации о всех выпускниках ХВВАУЛ, сделать информацию полезной и
				|                     интересной. Дорогие друзья! Теперь и у нашего выпуска Харьковского ВВАУЛ 1974 года есть свой сайт.
				|                     Заходите, регистрируйтесь, смотрите материалы, присылайте свои
				|                     мысли, воспоминания, стихи, рассказы, пожелания, замечания , восхищения и, конечно же, фотографии –
				|                     то есть всё то, чем вы хотите поделиться со своими
				|                     однокашниками. Именно это сделает наш сайт красивым и, возможно, посещаемым другими пользователями.
				|                     Цель сайта: собрать как можно больше информации о всех
				|                     выпускниках ХВВАУЛ, сделать информацию полезной и интересной. Дорогие друзья! Теперь и у нашего
				|                     выпуска Харьковского ВВАУЛ 1974 года есть свой сайт. Заходите,
				|                     регистрируйтесь, смотрите материалы, присылайте свои мысли, воспоминания, стихи, рассказы,
				|                     пожелания, замечания , восхищения и, конечно же, фотографии – то есть
				|                     всё то, чем вы хотите поделиться со своими однокашниками. Именно это сделает наш сайт красивым и,
				|                     возможно, посещаемым другими пользователями. Цель сайта: собрать
				|                     как можно больше информации о всех выпускниках ХВВАУЛ, сделать информацию полезной и интересной.
				|                     Дорогие друзья! Теперь и у нашего выпуска Харьковского ВВАУЛ 1974
				|                     года есть свой сайт. Заходите, регистрируйтесь, смотрите материалы, присылайте свои мысли,
				|                     воспоминания, стихи, рассказы, пожелания, замечания , восхищения и,
				|                     конечно же, фотографии – то есть всё то, чем вы хотите поделиться со своими однокашниками. Именно
				|                     это сделает наш сайт красивым и, возможно, посещаемым другими
				|                     пользователями. Цель сайта: собрать как можно больше информации о всех выпускниках ХВВАУЛ, сделать
				|                     информацию полезной и интересной. Дорогие друзья! Теперь и у
				|                     нашего выпуска Харьковского ВВАУЛ 1974 года есть свой сайт. Заходите, регистрируйтесь, смотрите
				|                     материалы, присылайте свои мысли, воспоминания, стихи, рассказы,
				|                     пожелания, замечания , восхищения и, конечно же, фотографии – то есть всё то, чем вы хотите
				|                     поделиться со своими однокашниками. Именно это сделает наш сайт
				|                     красивым и, возможно, посещаемым другими пользователями. Цель сайта: собрать как можно больше
				|                     информации о всех выпускниках ХВВАУЛ, сделать информацию полезной и
				|                     интересной.
			|                       ...
			table.table
				thead
					tr
						th First Name
						th Last Name
						th ZIP
						th Birthday
						th Points
						th Average
						th Amount
				tbody
					tr
						td Gloria
						td Reeves
						td 67439
						td 10/18/1985
						td 4
						td 0.1
						td $50
